/* Folha de estilos global*/

@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font: normal 16px 'Times New Roman', serif;
    margin-top: 20px;
}

main {
    max-width: 900px;
    min-width: 320px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    display: inline;
}

nav {
    float: right;
    padding-top: 10px;
}

nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

nav > ul > li {
    padding: 3px;
}

a {
    text-decoration: none;
}

img#capa {
    width: 100%;
    margin-top: 8px;
}

section > h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

section > p {
    margin-top: 10px;
    text-align: justify;
    text-indent: 15px;
}

h1#quem-somos {
    margin-top: 50px;
}
ol#quem-somos {
    margin-left: 20px;
    list-style-type: decimal;
}

hr {
    margin-top: 20px;
    border: 1px solid silver;
}

form {
    width: 300 px;
    margin-top: 50px;
}

form > p {
    margin-top: 10px;
}

form > input {
    width: 300 px;
}

footer {
    margin-top: 15px;
    margin-bottom: 25px;
    font: normal 0.85rem Arial, sans-serif;
    text-align: center;
}
